/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* BASIC */

main {
    width: calc(100vw-(100vw - 100%));
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap:2rem;
}

/* CONTENERS */

.borders {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    cursor: none;
}

.border_one, .border_two {
    width: 500px;
    height: 500px;
    background: rgb(225, 255, 142);
    box-shadow: inset 0px 0px 10px  black;
    position: relative;
    overflow: hidden;
}

/* CURSORS */

.cursor {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.cursor--eye{
    width: 130px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid black;
    background: rgb(177, 240, 226);
}


.iris {
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pupil {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}