@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* BASIC RESET */
* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

/* VARIABLES */

:root {
  --FF: "Quicksand";
  --FCOLOR-LIGHT: #f1356d;
  --FCOLOR-DARK: #333;
  
  --FCOLOR-BTN: white;

  --BGCOLOR: white;
  --BTN--BGCOLOR:var(--FCOLOR-LIGHT);
  

  --BORDER-COLOR: rgb(177, 177, 177);
  
}

/* STYLE */

/* general */

.App {
  font-family: var(--FF);
  color: var(--FCOLOR-DARK);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% auto;

  width: 100vw;
  height: 100vh;

}

.content {
  display: grid;
  grid-template-rows: 1fr 0.5fr;
}

/* header */

.header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.header h1 {
  color: var(--FCOLOR-LIGHT);
}

/* list */

.records-list {
  padding: 1rem 0.2rem;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.record {
  width: 75%;
  margin: 0.5rem 0;
  padding: 0.5rem;

  border: 1px solid var(--BORDER-COLOR);
}

.record-type {
  color: var(--FCOLOR-LIGHT);
  font-weight: 900;
}

/* adding panel */

.adding-panel {
  background-color: rgb(218, 218, 218);

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.adding-panel form {

  display: grid;
  grid-template-areas: 
  "ltype lperson ldetails lamount p"
  "itype iperson idetails iamount b"
  ;

  row-gap: 0.25rem;
  column-gap: 0.75rem;

  font-weight: 600;
  text-align: center;
}

.label-type {
  grid-area: ltype;
}

.input-type {
  grid-area: itype;
}

.label-person {
  grid-area: lperson;
}

.input-person {
  grid-area: iperson;
}

.label-details {
  grid-area: ldetails;
}

.input-details {
  grid-area: idetails;
}

.label-amount {
  grid-area: lamount;
}

.input-amount {
  grid-area: iamount;
}

input, select {
  padding: 0.25rem 0.5rem;

  border: 1px solid var(--BORDER-COLOR);
  border-radius: 5px;
}

.panel-part {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0.25rem;
}

.add-btn {
  grid-area: b;
  grid-row: 2/3;

  color: var(--FCOLOR-BTN);
  background-color: var(--BTN--BGCOLOR);

  padding: 0 1.5rem;
  border-radius: 5px;

}